<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Герои Dota 2</title>
    
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <h1 style="text-align:center"> Герои Dota 2 </h1>
    <div class="container">
    
        <form id="main" v-cloak>

            <div class="bar">
        
                <!-- Кнопки для переключения вариантов сетки. -->
        
                <a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
            </div>
        
        
            
            <ul v-if="layout == 'list'" class="list">
                <!-- Компактный вариант с фото и подписями -->
                <li v-for="a in articles">
                    <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.icon" /></a>
                    <p>{{a.title}}</p>
                </li>
            </ul>
        
        </form>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script>
    var demo = new Vue({
        el: '#main',
        data: {
            // Настройка начального варианта разметки, возможные варианты – сетка (grid) и список (list).
            layout: 'list',
    
            articles: [{
                "title":"Abbadon",
                "image": {
                    "icon": "Images/Abbadon.jpg"
                }
            },
            {
                "title": "Alchemist",
                "image": {
                    "icon": "Images/Alchemist.jpg"
                }
            },
            {
                "title": "Axe",
                "image": {
                    "icon": "Images/Axe.jpg"
                }
            },
            {
                "title": "Beastmaster",
                "image": {
                    "icon": "Images/Beastmaster.jpg"
                }
            },
            {
                "title": "Brewmaster",
                "image": {
                    "icon": "Images/Brewmaster.jpg"
                }
            },
            {
                "title": "Bristleback",
                "image": {
                    "icon": "Images/Bristleback.jpg"
                }
            },
            {
                "title": "Centaur Warrunner",
                "image": {
                    "icon": "Images/CentaurWarrunner.jpg"
                }
            },
            {
                "title": "Chaos Knight",
                "image": {
                    "icon": "Images/ChaosKnight.jpg"
                }
            },
            {
                "title": "Clockwerk",
                "image": {
                    "icon": "Images/Clockwerk.jpg"
                }
            },
            {
                "title": "Doom",
                "image": {
                    "icon": "Images/Doom.jpg"
                }
            },
            {
                "title": "Dragon Knight",
                "image": {
                    "icon": "Images/DragonKnight.jpg"
                }
            },
            {
                "title": "Earth Spirit",
                "image": {
                    "icon": "Images/EarthSpirit.jpg"
                }
            },
            {
                "title": "Earthshaker",
                "image": {
                    "icon": "Images/Earthshaker.jpg"
                }
            },
            {
                "title": "Elder Titan",
                "image": {
                    "icon": "Images/ElderTitan.jpg"
                }
            },
            {
                "title": "Huskar",
                "image": {
                    "icon": "Images/Huskar.jpg"
                }
            },
            {
                "title": "Io",
                "image": {
                    "icon": "Images/Io.jpg"
                }
            },
            {
                "title": "Kunkka",
                "image": {
                    "icon": "Images/Kunkka.jpg"
                }
            },
            {
                "title": "LegionCommander",
                "image": {
                    "icon": "Images/LegionCommander.jpg"
                }
            },
            {
                "title": "Lifestealer",
                "image": {
                    "icon": "Images/Lifestealer.jpg"
                }
            },
            {
                "title": "Lycan",
                "image": {
                    "icon": "Images/Lycan.jpg"
                }
            },
            {
                "title": "Magnus",
                "image": {
                    "icon": "Images/Magnus.jpg"
                }
            },
            {
                "title": "Mars",
                "image": {
                    "icon": "Images/Mars.jpg"
                }
            },
            {
                "title": "Night Stalker",
                "image": {
                    "icon": "Images/NightStalker.jpg"
                }
            },
            {
                "title": "Omniknight",
                "image": {
                    "icon": "Images/Omniknight.jpg"
                }
            },
            {
                "title": "Phoenix",
                "image": {
                    "icon": "Images/Phoenix.jpg"
                }
            },
            {
                "title": "Pudge",
                "image": {
                    "icon": "Images/Pudge.jpg"
                }
            },
            {
                "title": "Sand king",
                "image": {
                    "icon": "Images/SandKing.jpg"
                }
            },
            {
                "title": "Slardar",
                "image": {
                    "icon": "Images/Slardar.jpg"
                }
            },
            {
                "title": "Snapfire",
                "image": {
                    "icon": "Images/Snapfire.jpg"
                }
            },
            {
                "title": "Spirit Breaker",
                "image": {
                    "icon": "Images/SpiritBreaker.jpg"
                }
            },
            {
                "title": "Sven",
                "image": {
                    "icon": "Images/Sven.jpg"
                }
            },
            {
                "title": "Tidehunter",
                "image": {
                    "icon": "Images/Tidehunter.jpg"
                }
            },
            {
                "title": "Timbersaw",
                "image": {
                    "icon": "Images/Timbersaw.jpg"
                }
            },
            {
                "title": "Tiny",
                "image": {
                    "icon": "Images/Tiny.jpg"
                }
            },
            {
                "title": "Treant Protector",
                "image": {
                    "icon": "Images/TreantProtector.jpg"
                }
            },
            {
                "title": "Tusk",
                "image": {
                    "icon": "Images/Tusk.jpg"
                }
            },
            {
                "title": "Underlord",
                "image": {
                    "icon": "Images/Underlord.jpg"
                }
            },
            {
                "title": "Undying",
                "image": {
                    "icon": "Images/Undying.jpg"
                }
            },
            {
                "title": "Wraith King",
                "image": {
                    "icon": "Images/WraithKing.jpg"
                }
            },

        ]
    
        }
    });
</script>
</body>
</html>
