[v-cloak] {
    display: none;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  .container {
      position: absolute;
      left: 0px;
  }
  
  body {
    font: 15px/1.3 "Open Sans", sans-serif;
    color: #5e5b64;
    text-align: center;
  }
  
  a,
  a:visited {
    outline: none;
    color: #389dc1;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  section,
  footer,
  header,
  aside,
  nav {
    display: block;
  }
  
 
  
  /*-------------------------
      Список
  --------------------------*/
  
  ul.list {
    list-style: none;
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul.list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
  }
  
  ul.list li img {
    width: 200px;
    height: 120px;
    float: left;
    border: none;
  }
  
  ul.list li p {
    margin-left: 135px;
    font-weight: bold;
    color: #6e7a7f;
  }
  
 